{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Home</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">Selamat Datang, {{request.session.pengguna}}</h3> 
    <div class="d-flex">
        <a href="/tiket-nakes"><button type="button" class="btn btn-primary" style="margin-left: 15px">Tiket Vaksin Pengguna</button></a>
    </div>
{% endblock content %}
