{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Home</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 10px">Selamat datang, {{request.session.pengguna}}</h2>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/penjadwalan/penjadwalan"><button type="button" class="btn btn-primary" style="margin-left: 15px">Penjadwalan Vaksin</button></a>
    </div>
{% endblock content %}
