{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Home</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 10px">FITUR MASTER ADMIN SATGAS</h2>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/penjadwalan/pengajuan"><button type="button" class="btn btn-primary" style="margin-left: 15px">Penjadwalan Vaksin</button></a>
    </div>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/distribusi/daftar-distribusi"><button type="button" class="btn btn-primary" style="margin-left: 15px">Lihat Distribusi</button></a>
    </div>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/vaksin/"><button type="button" class="btn btn-primary" style="margin-left: 15px">Daftar Vaksin</button></a>
    </div>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/status-tiket/"><button type="button" class="btn btn-primary" style="margin-left: 15px">Status Tiket</button></a>
    </div>
    <div class="d-flex justify-content-center" style="padding: 20px;">
        <a href="/instansi/"><button type="button" class="btn btn-primary" style="margin-left: 15px">Instansi</button></a>
    </div>
{% endblock content %}
