{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Home</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">Selamat Datang, {{request.session.pengguna}}</h3> 
{% endblock content %}
