{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Kartu Vaksinasi</title>
    <style>
        th,td {
            vertical-align: middle;
        }
        thead > tr > th {
            vertical-align: text-top;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 50px;">
        <h1 style="color: white; text-align: center; font-weight: bold; margin-bottom: 5%;">Kartu Vaksin</h1>

        {% if cards|length == 0 %}
        <h4 style="color: gray; text-align: center; margin-top: 15%; font-weight: bold;">Masih Belum Memiliki Kartu Vaksin :(</h4>
        
        {% else %}
            <table class="table table-dark table-striped" style="height: 100%;">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nomor Sertifikat</th>
                        <th scope="col">Tahapan</th>
                        <th scope="col" style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody >
                    {% for card in cards %}
                    
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ card.1 }}</td>
                        <td>{{ card.2 }}</td>
                        <td style="height: 100%;">
                            <div class="fluid-container" style="display: flex; flex-direction: column; align-items: center;">                     
                                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ forloop.counter }}">Detail</button>
                            </div>
                        </td>
                    </tr>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header"">
                                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="text-align: center;">Kartu Vaksin</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-2 row">
                                        <label for="nama" class="col-sm-3 col-form-label">Nama</label>
                                        <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext border-white" id="nama" value=": {{ card.0 }}">
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label for="noSrtfk" class="col-sm-3 col-form-label">No Sertifikat</label>
                                        <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext border-white" id="noSrtfk" value=": {{ card.1 }}">
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label for="status" class="col-sm-3 col-form-label">Status Tahapan</label>
                                        <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext border-white" id="status" value=": {{ card.2 }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary justify-content-between" data-bs-dismiss="modal">Close</button>
                                    <a href="get-kartu-vaksin/{{ card.1 }}"><button type="button" class="btn btn-primary">Unduh</button></a>
                                </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
