{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Status</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <a href="/status-tiket" class="btn" id="submit-button" type="submit" style="color: aliceblue;">< back</a>

    <form style="margin-top: 20px", method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>FORM PEMBUATAN STATUS TIKET</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Kode: </label>
                </td>
                <td>
                    <label class="field-label">{{ auto_kode }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Status: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="nama_status" name="nama_status" value="{{request.POST.nama_status}}" type="text" class="form-control" required>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">TAMBAH</button>
        </div>
        
    </form>
{% endblock content %}