{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Status Tiket</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Master Status Tiket</h3>
    <div class="d-flex flex-row-reverse" style="padding: 20px">
      <a href="{% url 'create_status' %}"><button type="button" class="btn btn-success">Tambah Status</button></a>
    </div>

    <div class="table-responsive"style="padding: 50px;">
        <table id="example" class="table table-hover table-dark">
        <thead>
            <tr>
            <th scope="col">No.</th>
            <th scope="col">Kode Status</th>
            <th scope="col">Nama Status</th>
            <th scope="col">Tindakan</th>
            </tr>
        </thead>
        <tbody>
            {% for kode, nama_status in status_tiket %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ kode }}</td>
                <td>{{ nama_status }}</td>
                <td>
                    <a href="{% url 'update_status' kode %}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
                    <a href="{% url 'delete_status' kode %}"><button type="button" class="btn btn-outline-primary">Hapus</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- end section -->
        </table>
    </div>
{% endblock content %}