{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Update Status</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">FORM UPDATE STATUS TIKET</h2>
    <form style="margin-top: 20px", method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <label class="field-label">Kode</label>
                    </td>
                    <td>
                        <label class="field-label">{{ kode }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Nama Status</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id="nama_status_baru" name="nama_status_baru" value="{{request.POST.nama_status_baru}}" type="text" class="form-control" required>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">UPDATE</button>
        </div>
        
    </form>
{% endblock content %}
