{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'message.html' %}
    
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">FORM LOGIN</h3>
    <form action="/login" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <tr>
                <td>
                    <label class="field-label" style="padding-bottom: 10px">Email</label>
                    <label class="star">*</label>
                    <input type="email" name="email" value="{{request.POST.email}}" class="form-control" placeholder="Email" aria-label="Email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label" style="padding-top: 10px; padding-bottom: 10px">Password</label>
                    <label class="star">*</label>
                    <input type="password" name="password" value="{{request.POST.password}}" class="form-control" placeholder="Password" aria-label="Password" required>
                </td>
            </tr>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Login</button>

        </div>

        <div><p class="text-center" style="color:aliceblue">Don't have an account? Register <a href="/register">here</a></p></div>
    </form>
{% endblock content %}