{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Warga Register Form</title>
    <style>
        table.table td {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'message.html' %}

    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">FORM PENDAFTARAN AKUN WARGA</h3>
    <form action="{% url 'register_vaksinasi' %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>DATA PERSONAL</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">NIK</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="nik" value="{{request.POST.nik}}" class="form-control" placeholder="Masukkan NIK" aria-label="NIK" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Lengkap</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="nama_lengkap" value="{{request.POST.nama_lengkap}}" class="form-control" placeholder="Masukkan Nama Lengkap" aria-label="Nama Lengkap" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jenis Kelamin</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="jenis_kelamin" name="jenis_kelamin" value="{{request.POST.jenis_kelamin}}" class="form-control" required>
                        <option value="" selected>Jenis Kelamin...</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td>
            </tr>
            </tbody>

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>ALAMAT</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nomor Bangunan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="no" value="{{request.POST.no}}" class="form-control" placeholder="Masukkan Nomor Bangunan" aria-label="Nomor Bangunan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Jalan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="jalan" value="{{request.POST.jalan}}" class="form-control" placeholder="Masukkan Nama Jalan" aria-label="Nama Jalan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kelurahan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kelurahan" value="{{request.POST.kelurahan}}" class="form-control" placeholder="Masukkan Kelurahan" aria-label="Kelurahan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kecamatan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kecamatan" value="{{request.POST.kecamatan}}" class="form-control" placeholder="Masukkan Kecamatan" aria-label="Kecamatan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kabupaten/Kota Administrasi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kabkot" value="{{request.POST.kabkot}}" class="form-control" placeholder="Masukkan Kabupaten/Kota Administrasi" aria-label="Kabupaten/Kota Administrasi" required>
                </td>
            </tr>
            </tbody>

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>AFILASI</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Instansi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="instansi" name="instansi" value="{{request.POST.instansi}}" class="form-control" required>
                        <option value="" selected>Instansi...</option>
                        {% for kode, nama_instansi in instansi %}
                        <option value={{kode}}>{{nama_instansi}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Register</button>
        </div>
        
    </form>
{% endblock content %}
