{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Register Form</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">REGISTRASI AKUN SIVAX</h3>
    <form action="/" id="form-action">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label field-label">Jenis Akun:</label>
            <div class="col-sm-10" required>
                <select id="jenis_akun" class="form-control" aria-label="Jenis Akun" required>
                    <option value="" selected>Jenis Akun...</option>
                    <option value="warga">Warga</option>
                    <option value="panitia">Panitia Penyelenggara</option>
                    <option value="admin">Admin Satgas</option>
                </select>
            </div>
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Lanjut</button>
        </div>
    </form>
    
{% endblock content %}
