{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Panitia Penyelenggara Register Form</title>
    <style>
        table.table td {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'message.html' %}

    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">FORM PENDAFTARAN AKUN PANITIA PENYELENGGARA</h3>
    <form action="{% url 'register_panitia' %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>INFORMASI AKUN</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Email</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="email" name="email" value="{{request.POST.email}}" class="form-control" placeholder="Masukkan Email" aria-label="Email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Password</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="password" name="password" value="{{request.POST.password}}" class="form-control" placeholder="Masukkan Password" aria-label="Password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">No. HP</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="no_telp" value="{{request.POST.no_telp}}" class="form-control" placeholder="Masukkan No. HP" aria-label="No. HP" required>
                </td>
            </tr>
            </tbody>

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>INFORMASI PANITIA</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="field-label">Nama Lengkap</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input type="text" name="nama_lengkap" value="{{request.POST.nama_lengkap}}" class="form-control" placeholder="Masukkan Nama Lengkap" aria-label="Nama Lengkap" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Tenaga Kesehatan</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <select id="tenaga_kesehatan" name="tenaga_kesehatan" value="{{request.POST.tenaga_kesehatan}}" class="form-control" required>
                            <option value="" selected>Tenaga Kesehatan...</option>
                            <option value="Ya">Ya</option>
                            <option value="Tidak">Tidak</option>
                        </select>
                    </td>
                </tr>                    
            </tbody>

            <tbody id="form_tenaga_kesehatan" class="d-none">
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>TAMBAHAN TENAGA KESEHATAN</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Nomor Surat Tanda </label>
                        <br>
                        <label class="field-label">Registrasi (STR)</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id="no_str" type="text" name="no_str" value="{{request.POST.no_str}}" class="form-control" placeholder="STR" aria-label="STR" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Tipe Petugas</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id="tipe" type="text" name="tipe" value="{{request.POST.tipe}}" class="form-control" placeholder="Tipe Petugas" aria-label="Tipe Petugas" required>
                    </td>
                </tr>
            </tbody>                  

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>DATA PERSONAL</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">NIK</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="nik" value="{{request.POST.nik}}" class="form-control" placeholder="Masukkan NIK" aria-label="NIK" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jenis Kelamin</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="jenis_kelamin" name="jenis_kelamin" value="{{request.POST.jenis_kelamin}}" class="form-control" required>
                        <option value="" selected>Jenis Kelamin...</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td>
            </tr>
            </tbody>

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>ALAMAT</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nomor Bangunan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="no" value="{{request.POST.no}}" class="form-control" placeholder="Masukkan Nomor Bangunan" aria-label="Nomor Bangunan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Jalan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="jalan" value="{{request.POST.jalan}}" class="form-control" placeholder="Masukkan Nama Jalan" aria-label="Nama Jalan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kelurahan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kelurahan" value="{{request.POST.kelurahan}}" class="form-control" placeholder="Masukkan Kelurahan" aria-label="Kelurahan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kecamatan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kecamatan" value="{{request.POST.kecamatan}}" class="form-control" placeholder="Masukkan Kecamatan" aria-label="Kecamatan" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kabupaten/Kota Administrasi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="kabkot" value="{{request.POST.kabkot}}" class="form-control" placeholder="Masukkan Kabupaten/Kota Administrasi" aria-label="Kabupaten/Kota Administrasi" required>
                </td>
            </tr>
            </tbody>

            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>AFILASI</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Instansi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="instansi" name="instansi" value="{{request.POST.instansi}}" class="form-control" required>
                        <option value="" selected>Instansi...</option>
                        {% for kode, nama_instansi in instansi %}
                        <option value={{kode}}>{{nama_instansi}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>


        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Register</button>
        </div>
        
    </form> 
{% endblock content %}
