<!DOCTYPE html>
<html>
    <head>
        <title>Kartu Vaksin</title>
         <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 36px;
                font-weight: 100;
                color: black;
                font-weight: bold;
                padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            
            .label-wrapper {
                font-size: 24px;
                color: #007cae;
                padding-left: 50px;
            }

            .field-wrapper {
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 10px;
                padding-left: 50px;
            }
            

            p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <p class="title">KARTU VAKSIN</p>
            </div>
        </div>

        <p class="separator">&nbsp;<p></p>
        <div class="label-wrapper">
            Nama
        </div>
        <div class="field-wrapper">
            {{ srtf.0 }} 
        </div>
        
        <p class="separator">&nbsp;<p></p>
        <div class="label-wrapper">
            Nomor Sertifikat
        </div>
        <div class="field-wrapper">
            {{ srtf.1 }} 
        </div>

        <p class="separator">&nbsp;<p>
        <div class="label-wrapper">
            Status Tahapan Vaksin
        </div>
        <div class="field-wrapper">
            {{ srtf.2 }}
        </div>

    </body>
</html>