{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Penjadwalan</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'message.html' %}
    <a href="{% url 'vaksin' %}" class="btn" id="submit-button" type="submit" style="color: aliceblue;">< back</a>

    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">DAFTAR VAKSIN</h3> 
    <form action="{% url 'create_vaksin' %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>TAMBAH VAKSIN</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Kode</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <label class="field-label">{{ kode_vaksin }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Vaksin</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="nama_vaksin" value="{{request.POST.nama_vaksin}}" class="form-control" placeholder="Masukkan Nama Vaksin" aria-label="Nama Vaksin" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Produsen</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="produsen" value="{{request.POST.produsen}}" class="form-control" placeholder="Masukkan Produsen" aria-label="Produsen" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">No. Edar</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="no_edar" value="{{request.POST.no_edar}}" class="form-control" placeholder="Masukkan No. Edar" aria-label="No. Edar" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Stok</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="stok" value="{{request.POST.stok}}" class="form-control" placeholder="Masukkan Stok" aria-label="Stok" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Frekuensi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input type="text" name="frekuensi" value="{{request.POST.frekuensi}}" class="form-control" placeholder="Masukkan Frekuensi" aria-label="Frekuensi" required>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">TAMBAH</button>
        </div>
        
    </form>
{% endblock content %}
