{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Update Vaksin</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">FORM TAMBAH UPDATE</h2>
    <form method="POST" style="margin-top: 20px">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Update Vaksin {{nama_vaksin}}</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <td>
                    <label class="field-label">Tanggal Update</label>
                </td>
                <td>
                    <input name="tgl_waktu" value="{{request.POST.tgl_waktu}}" type="date" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jumlah Update</label>
                </td>
                <td>
                    <input name='jumlah_update' value="{{request.POST.jumlah_update}}"type="text" class="form-control">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">TAMBAH UPDATE</button>
        </div>
        
    </form>
{% endblock content %}
