{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Update Vaksin</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Update Stok {{nama_vaksin}}</h3>
    <div class="d-flex flex-row-reverse" style="padding: 20px">
      <a href="{% url 'tambah_update' kode nama_vaksin %}"><button type="button" class="btn btn-success">Tambah Update Stok</button></a>
    </div>

    <div class="table-responsive"style="padding: 50px;">
        <table id="example" class="table table-hover table-dark">
        <thead>
            <tr>
            <th scope="col">Email Pegawai</th>
            <th scope="col">Tanggal Update</th>
            <th scope="col">Jumlah Update</th>
            </tr>
        </thead>
        <tbody>
            {% for email_pegawai, tgl_waktu, jumlah_update in list_update %}
            <tr>
                <td>{{email_pegawai}}</td>
                <td>{{tgl_waktu}}</td>
                <td>{{jumlah_update}}</td>
            </tr>
            {% endfor %}
            <!-- dummy data -->
            <!-- <tr>
            <td>Sharyl.Pelosi@gmail.com</td>
            <td>12/07/2021</td>
            <td>187</td>
            </tr>

            <tr>
            <td>Gibb.Maud@gmail.com</td>
            <td>21/05/2021</td>
            <td>495</td>
            </tr>

            <tr>
            <td>Chilton.Scudders@gmail.com</td>
            <td>25/04/2021</td>
            <td>500</td>
            </tr> -->
        </tbody>
        <!-- end section -->
        </table>
    </div>
{% endblock content %}
