{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Vaksin</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'message.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Daftar Vaksin</h3>
    <div class="d-flex flex-row-reverse" style="padding: 20px">
      <a href="{% url 'create_vaksin' %}"><button type="button" class="btn btn-success">Tambah Vaksin</button></a>
    </div>

    <div class="table-responsive"style="padding: 50px;">
        <table id="example" class="table table-hover table-dark">
            <thead>
                <tr>
                <th scope="col">Kode</th>
                <th scope="col">Nama</th>
                <th scope="col">Produsen</th>
                <th scope="col">No. Edar</th>
                <th scope="col">Freq. Suntikan</th>
                <th scope="col">Stok</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for vaskin in daftar_vaksin %}
                <tr>
                <td>{{ vaskin.0 }}</td>
                <td>{{ vaskin.1 }}</td>
                <td>{{ vaskin.2 }}</td>
                <td>{{ vaskin.3 }}</td>
                <td>{{ vaskin.4 }}</td>
                <td>{{ vaskin.5 }}</td>
                <td>
                    <button type="button" id={{vaskin.0}} class="btn btn-outline-danger" data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop" onClick="deleteVaksin(this.id)">Delete</button>
                    <a href="{% url 'update_vaksin' vaskin.0 vaskin.1 %}"><button type="button" class="btn btn-outline-warning">Update Stok</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Vaksin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Apakah anda yakin akan menghapus Vaksin ini?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'delete_vaksin' 'vcn06' %}" id="modal_delete"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

