{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Penjadwalan</title>
<style>
  form {
    padding: 20px;
  }
</style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Daftar Penjadwalan Vaksin</h2>
  <div class="d-flex flex-row-reverse" style="padding: 20px">
    <a href="/penjadwalan/tambah"><button type="button" class="btn btn-success">Tambah Penjadwalan</button></a>
  </div>

  <div class="table-responsive" style="padding: 50px;">
    <table id="example" class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Instansi</th>
          <th scope="col">Waktu Pelaksanaan</th>
          <th scope="col">Kuota</th>
          <th scope="col">Status</th>
          <th scope="col">Kode Distribusi</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for nama_instansi, tanggal_waktu, jumlah, status, kode_distribusi in penjadwalan %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ nama_instansi }}</td>
          <td>{{ tanggal_waktu }}</td>
          <td>{{ jumlah }}</td>
          <td>{{ status }}</td>

          {% if kode_distribusi != None %}
          <td>{{ kode_distribusi }}</td>
          {% else %}
          <td></td>
          {% endif %}
          <td><a href="{% url 'detail_jadwal' nama_instansi tanggal_waktu jumlah status kode_distribusi %}"><button type="button" class="btn btn-outline-primary">Detail</button></a>
            {% if status != 'pengajuan disetujui' %}
            <a href="{% url 'update_jadwal' nama_instansi status %}"><button type="button" class="btn btn-outline-warning">Update</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}

      </tbody>
      <!-- end section -->
    </table>
  </div>
  {% endblock content %}