{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Pengajuan Penjadwalan Vaksin</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Daftar Pengajuan Penjadwalan Vaksin</h2>

  <div class="table-responsive" style="padding: 50px;">
    <table id="example" class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Instansi</th>
          <th scope="col">Waktu Pelaksanaan</th>
          <th scope="col">Kuota</th>
          <th scope="col">Status</th>
          <th scope="col">Kode Distribusi</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for nama_instansi, tanggal_waktu, jumlah, status, kode_distribusi in penjadwalan %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ nama_instansi }}</td>
          <td>{{ tanggal_waktu }}</td>
          <td>{{ jumlah }}</td>
          <td>{{ status }}</td>

          {% if kode_distribusi != None %}
          <td>{{ kode_distribusi }}</td>
          {% else %}
          <td></td>
          {% endif %}
          <td>
            {% if status == 'pengajuan disetujui' or status == 'pengajuan ditolak' %}
            <a href="{% url 'detail_pengajuan' nama_instansi tanggal_waktu jumlah status kode_distribusi %}"><button type="button" class="btn btn-outline-primary">Detail</button></a>
            {% endif %}
            {% if status == 'pengajuan dikirim' %}
            <a href="{% url 'verifikasi' nama_instansi status %}"><button type="button" class="btn btn-outline-success">Verifikasi</button></a>
            {% endif %}
            {% if status == 'pengajuan disetujui' and kode_distribusi == None %}
            <a href="{% url 'atur_distribusi' nama_instansi tanggal_waktu jumlah status %}"><button type="button" class="btn btn-outline-warning">Atur Distribusi</button></a>
            {% endif %}
          </td>
            
        </tr>
        {% endfor %}

      </tbody>
      <!-- end section -->
    </table>
  </div>
{% endblock content %}
