{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Penjadwalan</title>
<style>
    form {
        padding: 20px;
    }
</style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
{% include 'message.html' %}
<form action="/penjadwalan/pengajuan/" style="margin-top: 20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <td colspan="2" class="field-label text-center">
                    <h4>DETAIL PENJADWALAN</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_instansi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                </td>
                <td>
                    <label class="field-label">{{ tanggal_waktu }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                </td>
                <td>
                    <label class="field-label">{{ jumlah }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                </td>
                <td>
                    <label class="field-label">{{ kategori_penerima }}</label>
                </td>
            </tr>
            <td>
                <label class="field-label">Lokasi Vaksin</label>
            </td>
            <td>
                <label class="field-label">{{ nama_lokasi }}</label>
            </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status</label>
                </td>
                <td>
                    <label class="field-label">{{ status }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jumlah Tenaga Kesehatan</label>
                </td>
                <td>
                    <label class="field-label">{{ jumlah_nakes }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kode Distribusi</label>
                </td>
                <td>
                    {% if kode_distribusi != 'None' %}
                    <label class="field-label">{{ kode_distribusi }}</label>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Diverifikasi oleh</label>
                </td>
                <td>
                    {% if email_admin != 'None' %}
                    <label class="field-label">{{ email_admin }}</label>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

</form>
<div class="d-flex justify-content-center">
    {% if status != 'pengajuan ditolak'%}
    <a href="{% url 'atur_distribusi' nama_instansi tanggal_waktu jumlah status %}"><button class="btn btn-outline-warning" id="submit-button" type="submit"
            style="color: aliceblue; margin-right: 5px">ATUR DISTRIBUSI</button></a>
    {% endif %}
    <a href="/penjadwalan/pengajuan"><button class="btn btn-outline-danger" id="submit-button"
            style="color: aliceblue; margin-left: 5px">CANCEL</button></a>
</div>
{% endblock content %}