{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Penjadwalan</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <form action="/penjadwalan/penjadwalan/" style="margin-top: 20px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>DETAIL PENJADWALAN</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_instansi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                </td>
                <td>
                    <label class="field-label">{{ tanggal_waktu }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                </td>
                <td>
                    <label class="field-label">{{ jumlah }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                </td>
                <td>
                    <label class="field-label">{{ kategori_penerima }}</label>
                </td>
            </tr>
                <td>
                    <label class="field-label">Lokasi Vaksin</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_lokasi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status</label>
                </td>
                <td>
                    <label class="field-label">{{ status }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jumlah Tenaga Kesehatan</label>
                </td>
                <td>
                    <label class="field-label">{{ jumlah_nakes }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Diverifikasi oleh</label>
                </td>
                <td>
                    {% if email_admin != 'None' %}
                    <label class="field-label">{{ email_admin }}</label>
                    {% endif %}
                </td>
            </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Informasi Distribusi</h4>
                    </td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Kode</th>
                <th scope="col">Tanggal Distribusi</th>
                <th scope="col">Biaya</th>
                <th scope="col">Jenis Vaksin</th>
                <th scope="col">Jumlah</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    {% if kode_distribusi != 'None' %}
                    <td>{{ kode_distribusi }}</td>
                    <td>{{ tanggal_dist }}</td>
                    <td>{{ biaya_dist }}</td>
                    <td>{{ jumlah_vaksin }}</td>
                    <td>{{ nama_vaksin }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-danger" id="submit-button" type="submit" style="color: aliceblue;">Cancel</button>
        </div>
        
    </form>
{% endblock content %}
