{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Penjadwalan</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">Tambah Penjadwalan</h3> 
    <form method="POST" action="/penjadwalan/tambah/">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>FORM TAMBAH PENJADWALAN</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kode_instansi" name="kode_instansi" value="{{request.POST.kode_instansi}}" class="form-control" required>
                        <option value="" selected>Instansi...</option>
                        {% for kode, nama_instansi in instansi %}
                        <option value={{kode}}>{{nama_instansi}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="tanggal_waktu" name="tanggal_waktu" value="{{request.POST.tanggal_waktu}}"type="datetime-local" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="jumlah" name="jumlah" value="{{request.POST.jumlah}}" type="text" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kategori_penerima" name="kategori_penerima" value="{{request.POST.kategori_penerima}}" class="form-control" required>
                        <option value="" selected>Penerima...</option>
                        <option value="umum">Umum</option>
                        <option value="instansi">Instansi</option>
                    </select>
                </td>
            </tr>
                <td>
                    <label class="field-label">Lokasi Vaksin</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kode_lokasi" name="kode_lokasi" value="{{request.POST.kode_lokasi}}" class="form-control" required>
                        <option value="" selected>Lokasi Vaksin...</option>
                        {% for kode, nama in lokasi_vaksin %}
                        <option value={{kode}}>{{nama}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Buat Jadwal</button>
        </div>
        
    </form>
{% endblock content %}
