{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Verifikasi Pengajuan</title>
<style>
    form {
        padding: 20px;
    }
</style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">Verifikasi Penjadwalan</h3>
<form method="POST">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
            <tr>
                <td colspan="2" class="field-label text-center">
                    <h4>FORM UPDATE PENJADWALAN</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kode_instansi" name="kode_instansi" value="{{request.POST.kode_instansi}}"
                        class="form-control" required>
                        <option value="" selected>Instansi...</option>
                        {% for kode, nama_instansi in instansi %}
                        <option value={{kode}}>{{nama_instansi}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="tanggal_waktu" name="tanggal_waktu" value="{{request.POST.tanggal_waktu}}"
                        type="datetime-local" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="jumlah" name="jumlah" value="{{request.POST.jumlah}}" type="text" class="form-control"
                        required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kategori_penerima" name="kategori_penerima" value="{{request.POST.kategori_penerima}}"
                        class="form-control" required>
                        <option value="" selected>Penerima...</option>
                        <option value="umum">Umum</option>
                        <option value="instansi">Instansi</option>
                    </select>
                </td>
            </tr>
            <td>
                <label class="field-label">Lokasi Vaksin</label>
                <label class="star">*</label>
            </td>
            <td>
                <select id="kode_lokasi" name="kode_lokasi" value="{{request.POST.kode_lokasi}}" class="form-control"
                    required>
                    <option value="" selected>Lokasi Vaksin...</option>
                    {% for kode, nama in lokasi_vaksin %}
                    <option value={{kode}}>{{nama}}</option>
                    {% endfor %}
                </select>
            </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status</label>
                </td>
                <td>
                    <label class="field-label">{{ status }}</label>
                </td>
            </tr>
            {% if faskes == False %}
            <tr>
                <td>
                    <label class="field-label">Jumlah Tenaga Kesehatan</label>
                </td>
                <td>
                    <input id="jumlah_nakes" name="jumlah_nakes" type="text" class="form-control">
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-success" id="setuju" name="submit" value="pengajuan disetujui" type="submit"
            style="color: aliceblue; margin-right: 5px">SETUJUI REQUEST</button>
        <button class="btn btn-outline-danger" id="tolak" name="submit" value="pengajuan ditolak" type="submit"
            style="color: aliceblue; margin-left: 5px">TOLAK REQUEST</button>
    </div>

</form>
{% endblock content %}