{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Distribusi</title>
    <style>
      form {
          padding: 20px;
      }
  </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Data Distribusi</h2>
          
      <div class="table-responsive"style="padding: 50px;">
        <table id="example"class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Kode</th>
              <th scope="col">Tanggal Distribusi</th>
              <th scope="col">Biaya</th>
              <th scope="col">Jenis Vaksin</th>
              <th scope="col">Jumlah</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- dummy data -->
            {% for kode, tanggal, biaya, nama, jumlah_vaksin in distribusi %}
            <tr>
              <td>{{ kode }}</td>
              <td>{{ tanggal }}</td>
              <td>{{ biaya }}</td>
              <td>{{ nama }}</td>
              <td>{{ jumlah_vaksin }}</td>

              <td>
                <a href="{% url 'detail_distribusi' kode tanggal biaya nama jumlah_vaksin %}"><button type="button" class="btn btn-outline-primary">Detail</button></a>
                <a href="{% url 'hapus_distribusi' kode %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                <a href="{% url 'update_distribusi' kode %}"><button type="button" class="btn btn-outline-success">Update</button></a>
              </td>
              {% endfor %}
            </tr>
            <!-- <tr>
              <th scope="row">dst01</th>
              <td>18/09/2021</td>
              <td>10000</td>
              <td>Sinovac</td>
              <td>931</td>
              <td><a href="/distribusi/detail-distribusi"><button type="button" class="btn btn-outline-primary">Detail</button></a>
                  <a href=""><button type="button" class="btn btn-outline-danger">Delete</button></a>
                  <a href="/distribusi/update-distribusi"><button type="button" class="btn btn-outline-success">Update</button></a></td>
            </tr>
            <tr>
              <th scope="row">dst02</th>
              <td>27/05/2021</td>
              <td>15000</td>
              <td>Sinovac</td>
              <td>819</td>
              <td><a href=""><button type="button" class="btn btn-outline-primary">Detail</button></a>
                  <a href=""><button type="button" class="btn btn-outline-danger">Delete</button></a>
                  <a href=""><button type="button" class="btn btn-outline-success">Update</button></a></td>
            </tr>
            <tr>
              <th scope="row">dst03</th>
              <td>24/04/2021</td>
              <td>100000</td>
              <td>Sinopharm</td>
              <td>239</td>
              <td><a href=""><button type="button" class="btn btn-outline-primary">Detail</button></a>
                  <a href=""><button type="button" class="btn btn-outline-danger">Delete</button>
                  <a href=""><button type="button" class="btn btn-outline-success">Update</button></a></td>
            </tr> -->
          </tbody>
          <!-- end section -->
        </table>
      </div>{% endblock content %}
