{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Distribusi</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">DETAIL DISTRIBUSI</h2>
    <form action="" style="margin-top: 20px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Informasi Penjadwalan</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                </td>
                <td>
                    <label class="field-label">{{nama_instansi}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                </td>
                <td>
                    <label class="field-label">{{tanggal_waktu}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                </td>
                <td>
                    <label class="field-label">{{jumlah}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                </td>
                <td>
                    <label class="field-label">{{kategori_penerima}}</label>
                </td>
            </tr>
                <td>
                    <label class="field-label">Lokasi Vaksin</label>
                </td>
                <td>
                    <label class="field-label">{{lokasi_vaksin}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status</label>
                </td>
                <td>
                    <label class="field-label">{{status}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jumlah Tenaga Kesehatan</label>
                </td>
                <td>
                    <label class="field-label">{{jumlah_nakes}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Diverifikasi oleh</label>
                </td>
                <td>
                    <label class="field-label">{{email_admin}}</label>
                </td>
            </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Informasi Distribusi</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="field-label">Kode Distribusi</label>
                    </td>
                    <td>
                        <label class="field-label">{{kode}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Tanggal Distribusi</label>
                    </td>
                    <td>
                        <label class="field-label">{{tanggal}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Biaya Distribusi</label>
                    </td>
                    <td>
                        <label class="field-label">{{biaya}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Jenis Vaksin</label>
                    </td>
                    <td>
                        <label class="field-label">{{nama}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Jumlah Vaksin</label>
                    </td>
                    <td>
                        <label class="field-label">{{jumlah_vaksin}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </form>
    <div class="d-flex justify-content-center">
        <a href="{% url 'update_distribusi' kode %}"><button class="btn btn-outline-warning" id="submit-button" type="submit" style="color: aliceblue; margin-right: 5px">EDIT DISTRIBUSI</button></a>
        <a href="{% url 'hapus_distribusi' kode %}"><button class="btn btn-outline-danger" id="submit-button" type="submit" style="color: aliceblue; margin-left: 5px">HAPUS DISTRIBUSI</button></a>
    </div>
{% endblock content %}
