{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Update Distribusi</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'message.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">FORM UPDATE DISTRIBUSI</h2>
    <form style="margin-top: 20px", method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Informasi Penjadwalan</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_instansi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                </td>
                <td>
                    <label class="field-label">{{tanggal_waktu}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                </td>
                <td>
                    <label class="field-label">{{jumlah}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Penerima</label>
                </td>
                <td>
                    <label class="field-label">{{kategori_penerima}}</label>
                </td>
            </tr>
                <td>
                    <label class="field-label">Lokasi Vaksin</label>
                </td>
                <td>
                    <label class="field-label">{{lokasi_vaksin}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status</label>
                </td>
                <td>
                    <label class="field-label">{{status}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Jumlah Tenaga Kesehatan</label>
                </td>
                <td>
                    <label class="field-label">{{jumlah_nakes}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Diverifikasi oleh</label>
                </td>
                <td>
                    <label class="field-label">{{email_admin}}</label>
                </td>
            </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>Informasi Distribusi</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="field-label">Kode Distribusi</label>
                    </td>
                    <td>
                        <label class="field-label">{{kode}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Tanggal Distribusi</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id="tanggal" name="tanggal" value="{{request.POST.tanggal}}" type="date" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Biaya Distribusi</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id="biaya" name="biaya" value="{{request.POST.biaya}}" type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Jenis Vaksin</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <select id="vaksin" name="vaksin" value="{{request.POST.vaksin}}"
                        class="form-control" required>
                        <option value="" selected>Vaksin...</option>
                        {% for kode, nama_vaksin in list_vaksin %}
                        <option value={{kode}}>{{nama_vaksin}}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id ="jumlah_vaksin" name="jumlah_vaksin" class="field-label">Jumlah Vaksin</label>
                        <label class="star">*</label>
                    </td>
                    <td>
                        <input id ="jumlah_vaksin" name="jumlah_vaksin" type="text" value="{{request.POST.jumlah_vaksin}}" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">UPDATE DISTRIBUSI</button>
        </div>
        
    </form>
{% endblock content %}
