{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Vaksinasi</title>
    <style>
        form {
            padding: 20px;
            width: 600px;
        }
        td {
            border-color: initial;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'message.html' %}

    <a href='{% url "jadwal" %}' class="btn" id="submit-button" type="submit" style="color: aliceblue;">< back</a>

    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">FORM MENDAFTAR VAKSINASI</h3> 
    <form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>DETAIL JADWAL</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_instansi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                </td>
                <td>
                    <label class="field-label">{{ jadwal }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kuota</label>
                </td>
                <td>
                    <label class="field-label">{{ kuota }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kategori Penerima</label>
                </td>
                <td>
                    <label class="field-label">{{ kategori }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Lokasi Vaksin</label>
                </td>
                <td>
                    <label class="field-label">{{ nama_lokasi }}</label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <a href='{% url "mendaftar" nama_instansi jadwal %}' class="btn btn-outline-success">DAFTAR</a>
        </div>
        
    </form>

    <br>
    <div><p class="text-center" style="color:aliceblue">Register as Warga? <a href="{% url 'register_vaksinasi' %}">here</a></p></div>
{% endblock content %}
