{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Jadwal Vaksinasi</title>
    <style>
      form {
          padding: 20px;
      }
  </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px;">Jadwal Vaksinasi</h3>
          
    <div class="table-responsive"style="padding: 50px;">
      <table id="example" class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Instansi</th>
            <th scope="col">Waktu Pelaksanaan</th>
            <th scope="col">Kuota</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- dummy data -->
          {% for jadwal in jadwal_vaksin %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ jadwal.0 }}</td>
            <td>{{ jadwal.1 }}</td>
            <td>{{ jadwal.2 }}</td>
            <td>
              <a href="{% url 'daftar' jadwal.0 jadwal.1 %}" class="btn btn-outline-success">Daftar</a>
            </td>          
          </tr>
          {% endfor %}
        </tbody>
        <!-- end section -->
      </table>
      </div>
{% endblock content %}
