{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tiket Saya</title>
    <style>
        td {
            border-color: initial;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 30px; padding-bottom: 20px">TIKET SAYA</h3> 
    <div class="row" style="padding: 50px; padding-top:0%">
        {% for tiket in kumpulan_tiket %}
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3 text-center">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="field-label text-center">
                                    <h4>Nomor Tiket: {{ tiket.1 }}</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="field-label">Instansi Penyelenggara</label>
                            </td>
                            <td>
                                <label class="field-label">{{ tiket.2 }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="field-label">Waktu Pelaksanaan</label>
                            </td>
                            <td>
                                <label class="field-label">{{ tiket.4 }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="field-label">Status Tiket</label>
                            </td>
                            <td>
                                <label class="field-label">{{ tiket.3 }}</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'detail_kartu' tiket.2 tiket.4 tiket.1 tiket.3 %}"><button type="button" class="btn btn-outline-primary">DETAIL</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
