{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Instansi</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <a href="/instansi" class="btn" id="submit-button" type="submit" style="color: aliceblue;">< back</a>

    <form style="margin-top: 20px" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>FORM TAMBAH INSTANSI</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Kode: </label>
                </td>
                <td>
                    <label class="field-label">{{ auto_kode }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="nama_instansi" name="nama_instansi" value="{{request.POST.nama_instansi}}" type="text" class="form-control" placeholder="Nama Instansi" aria-label="Nama Instansi" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nomor Telepon: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <input id="no_telp_baru" name="no_telp_baru" value="{{request.POST.no_telp_baru}}" type="text" class="form-control" placeholder="Nomor Telepon" aria-label="Nomor Telepon" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kategori Instansi: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kategori_faskes" name="kategori_faskes" value="{{request.POST.kategori_faskes}}" class="form-control" required>
                        <option value="" selected>Kategori Faskes...</option>
                        <option value="Faskes">Faskes</option>
                        <option value="Non-Faskes">Non-Faskes</option>
                    </select>
                </td>
            </tr>
            </tbody>

            <tbody id="faskes" class="d-none">
            <tr>
                <td>
                    <label id="label_tipe_faskes" class="field-label">Tipe Faskes: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="tipe_faskes" name="tipe_faskes" value="{{request.POST.tipe_faskes}}" class="form-control" required>
                        <option value="" selected>Tipe Faskes...</option>
                        <option value="rumah_sakit">Rumah Sakit</option>
                        <option value="puskesmas">Puskesmas</option>
                        <option value="klinik">Klinik</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="label_status_kepemilikan" class="field-label">Status Kepemilikan: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="status_kepemilikan" name="status_kepemilikan" value="{{request.POST.status_kepemilikan}}" class="form-control" required>
                        <option value="" selected>Status Kepemilikan...</option>
                        <option value="pemerintah">Pemerintah</option>
                        <option value="swasta">Swasta</option>
                    </select>
                </td>
            </tr>
            </tbody>

            <tbody id="non" class="d-none">
            <tr>
                <td>
                    <label id="label_kategori" class="field-label">Kategori: </label>
                    <label class="star">*</label>
                </td>
                <td>
                    <select id="kategori" name="kategori" value="{{request.POST.kategori}}" class="form-control" required>
                        <option value="" selected>Kategori...</option>
                        <option value="pemerintah">Pemerintah</option>
                        <option value="swasta">Swasta</option>
                </td>
            </tr>
            </tbody>
            
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Tambah</button>
        </div>
        
    </form>
{% endblock content %}