{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Instansi</title>
    <style>
      form {
          padding: 20px;
      }
  </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">Master Instansi</h2>
    <div class="d-flex flex-row-reverse" style="padding: 20px">
      <a href="{% url 'create_instansi' %}"><button type="button" class="btn btn-success">Tambah Instansi</button></a>
    </div>
          
      <div class="table-responsive"style="padding: 50px;">
        <table id="example"class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Kode Instansi</th>
              <th scope="col">Nama Instansi</th>
              <th scope="col">Tindakan</th>
            </tr>
          </thead>
          <tbody>
            {% for kode, nama_instansi in instansi %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ kode }}</td>
              <td>{{ nama_instansi }}</td>
              <td>
                <a href="{% url 'update_instansi' kode %}"><button type="button" class="btn btn-outline-primary">Update</button></a>
                <a href="{% url 'delete_instansi' kode %}"><button type="button" class="btn btn-outline-success">Delete</button></a>
                <a href="{% url 'detail_instansi' kode %}"><button type="button" class="btn btn-outline-success">Detail</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- end section -->
        </table>
      </div>
{% endblock content %}
