{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Hapus Instansi</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <h3 class="text-center field-label" style="padding-top: 20px; padding-bottom: 10px">KONFIRMASI HAPUS INSTANSI</h2>
    <form style="margin-top: 20px" method="POST">
        {% csrf_token %}

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Ya</button>
            <a href="/instansi" class="btn btn-outline-danger" style="color: aliceblue;">Tidak</a>
        </div>
        
    </form>
{% endblock content %}