{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Instansi</title>
    <style>
        form {
            padding: 20px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <a href="/instansi" class="btn" id="submit-button" type="submit" style="color: aliceblue;">< back</a>

    <form action="/instansi" style="margin-top: 20px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>FORM DETAIL INSTANSI</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-label">Kode: </label>
                </td>
                <td>
                    <label class="field-label">{{ kode }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nama Instansi: </label>
                </td>
                <td>
                    <label class="field-label">{{ nama_instansi }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Nomor Telepon: </label>
                </td>
                <td>
                    <label class="field-label">{{ no_telp }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Kategori Instansi: </label>
                </td>
                <td>
                    <label id="kategori_faskes" name="kategori_faskes" value={{kategori_instansi}} class="field-label">{{ kategori_instansi }}</label>
                </td>
            </tr>
            </tbody>

            <tbody id="faskes" class="d-none">
            <tr>
                <td>
                    <label class="field-label">Tipe Faskes: </label>
                </td>
                <td>
                    <label class="field-label">{{ tipe_faskes }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-label">Status Kepemilikan: </label>
                </td>
                <td>
                    <label class="field-label">{{ status_kepemilikan }}</label>
                </td>
            </tr>
            </tbody>

            <tbody id="non" class="d-none">
                <tr>
                    <td>
                        <label class="field-label">Kategori: </label>
                    </td>
                    <td>
                        <label class="field-label">{{ kategori }}</label>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button href="/instansi" class="btn btn-outline-success" id="submit-button" type="submit" style="color: aliceblue;">Cancel</button>
        </div>
        
    </form>
{% endblock content %}