<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
        <a href="{% url 'home' %}" class="nav-link" style="padding: 10px">Home</a>        
    </li>
    <li class="nav-item">
        {% if request.session.tipe != "Warga" %}
        <a href="{% url 'home_panitia' %}" class="nav-link" style="padding: 10px">Penjadwalan</a>
        {% endif %}        
    </li>
    <li class="nav-item">
        <a href="{% url 'jadwal' %}" class="nav-link" style="padding: 10px">Daftar Vaksinasi</a>
    </li>
    <li class="nav-item">
        {% if request.session.tipe == "Admin Satgas" %}
        <a href="{% url 'home_admin' %}" class="nav-link" style="padding: 10px">Admin Satgas</a>
        {% endif %}        
    </li>
    <li class="nav-item">
        {% if request.session.tipe == "Tenaga Kesehatan" %}
        <a href="{% url 'tiket_nakes' %}" class="nav-link" style="padding: 10px">Tiket Vaksin Pengguna</a>
        {% endif %}     
    </li>
    </ul>
</div>
<a href="{% url 'tiket_saya' %}" class="nav-link" style="padding: 10px; color: rgba(255,255,255,.55);">Tiket Saya</a>
<a href="{% url 'kartu_vaksin' %}" class="nav-link" style="padding: 10px; color: rgba(255,255,255,.55);">Kartu Vaksin</a>
<a href="{% url 'logout' %}" class="nav-link" style="padding: 10px; color: rgba(255,255,255,.55);">Logout</a>
</nav>