{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Main</title>
    <style>
        form {
            padding: 20px;
        }
        a:link {
            text-decoration: none;
          }
        a:visited {
            color: #00cfd9;
            background-color: transparent;
            text-decoration: none;
          }
        a:hover {
            color: #0014ff;
            background-color: transparent;
            text-decoration: underline;
          }
        a:active {
            color: lightblue;
            background-color: transparent;
            text-decoration: underline;
          }
    </style>
{% endblock meta %}

{% block content %}
    <h3 class="text-center field-label" style="padding-top: 250px; padding-bottom: 20px">WELCOME TO WEBSITE SIVAX B18</h3>
    <div class="text-center">
        <a href="login" style="padding: 10px" style="color: aliceblue;">Login</a>
        <a href="register" style="padding: 10px" style="color: aliceblue;">Register</a>
    </div>
{% endblock content %}