{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Tiket Nakes</title>
    <style>
        form {
            padding: 20px;
            width: 600px;
        }
        td {
            border-color: initial;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <br>
    <form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="field-label text-center">
                        <h4>DETAIL TIKET</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="field-label">Nomor Tiket</label>
                    </td>
                    <td>
                        <label class="field-label">{{ no_tiket }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Nama Penerima Vaksin</label>
                    </td>
                    <td>
                        <label class="field-label">{{ nama_pengguna }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Email</label>
                    </td>
                    <td>
                        <label class="field-label">{{ email_pengguna }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Nama Instansi</label>
                    </td>
                    <td>
                        <label class="field-label">{{ nama_instansi }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Tanggal dan Waktu Pelaksanaan</label>
                    </td>
                    <td>
                        <label class="field-label">{{ jadwal }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field-label">Status Tiket</label>
                    </td>
                    <td>
                        <label class="field-label">{{ status_tiket }}</label>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto text-center">
            <a href='{% url "tiket_nakes" %}'><button type="button" class="btn btn-outline-primary" id="submit-button" type="submit">BACK</button></a>
        </div>
        
    </form>
{% endblock content %}
