{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Tiket Vaksin Pengguna</title>

    <style>
        th,td {
            vertical-align: middle;
        }
        thead > tr > th {
            vertical-align: text-top;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 50px;">
        <table class="table table-dark table-striped" style="height: 100%;">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nomor Tiket</th>
                    <th scope="col">Nama Penerima Vaksin</th>
                    <th scope="col">Waktu Pelaksanaan</th>
                    <th scope="col">Status Tiket</th>
                    <th scope="col" style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody >
                {% for tiket in tiket_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ tiket.0 }}</td>
                        <td>{{ tiket.1 }}</td>
                        <td>{{ tiket.2|date:"d F Y H:i" }}</td>

                        <td>{{ tiket.3 }}</td>
                        
                        <td style="height: 100%;">
                            <div class="fluid-container" style="display: flex; flex-direction: column; align-items: center;">                     
                                <a href="{% url 'detail_tiket_nakes' tiket.0 %}">
                                    <button type="button" class="btn btn-outline-info">Detail</button>
                                </a>
                                {% if tiket.3 == 'Terdaftar' or tiket.3 == 'Siap Vaksin' %}
                                    <a href="./ubah-status-tiket/{{ tiket.0 }}">
                                        <button type="button" class="btn btn-outline-warning" style="margin-top: 5%;">Ubah Status</button>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}
