{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <title>Ubah Status Tiket</title>
    <style>
        [class^="form-control"] {
            color: rgb(201, 199, 199);
            
        }
        label{
            color: white;
        }
        [class^="mb"] {
            align-items: center;
        }
        .dropdown-item, #dropdownMenu2 {
            color: white;
        }
    </style>
    
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <div class="container" style="margin-top: 30px; padding: 0% 10%;">
        <h1 style="color: white; text-align: center; font-weight: bold; margin-bottom: 5%;">Ubah Status Tiket</h1>
        
        <form action="" method="POST" id="update-form">
            {% csrf_token %}
        <div class="mb-3 row">
            <label for="instansi" class="col-sm-3 col-form-label">Nama Instansi</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="instansi" value="{{ tiket.0 }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="waktu" class="col-sm-3 col-form-label">Tanggal dan Waktu Pelaksanaan</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="waktu" value="{{ tiket.1|date:"d F Y H:i" }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="kuota" class="col-sm-3 col-form-label">Kuota</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="kuota" value="{{ tiket.2 }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="kategoriPenerima" class="col-sm-3 col-form-label">Kategori Penerima</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="kategoriPenerima" value="{{ tiket.3 }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="lokasi" class="col-sm-3 col-form-label">Lokasi Vaksin</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="lokasi" value="{{ tiket.4 }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="noTiket" class="col-sm-3 col-form-label">Nomor Tiket</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext border-white" id="noTiket" value="{{ tiket.5 }}">
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="statusTiket" class="col-sm-3 col-form-label">Status Tiket</label>
            <div class="col-sm-9">
                <div class="dropdown" id="statusTiket">
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">{{ status_awal }}</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2"  style="background-color: rgba(22, 24, 24, 0.952); ">
                        {% for option in options %}
                            <li><button class="dropdown-item" type="button" value="{{ option }}">{{ option }}</button></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 10%;">

                <button type="submit" class="btn btn-primary" value="Submit">Simpan Perubahan</button>
     
        </div>
        </form>
        <script>
            
            $(".dropdown-item").click(function(){
                var tmp = $("#dropdownMenu2").html()
                $("#dropdownMenu2").html($(this).html())
                if($(this).html() == 'Tidak Lolos Screening') {
                    $("#dropdownMenu2").css("background-color", "red")
                }
                else if ($(this).html() == '{{ status_awal }}') {
                    $("#dropdownMenu2").css("background-color", "gray")
                }
                else {
                    $("#dropdownMenu2").css("background-color", "green")
                }
                $(this).html(tmp)
            })

            $('#update-form').submit(function(event) {
                    var is_change = !($('#dropdownMenu2').html() == '{{ status_awal }}') 
                    event.preventDefault();
                    var data = {
                        new_status: $('#dropdownMenu2').html(), 
                        no_tiket: $('#noTiket').val(),
                        is_change: is_change
                    };
                    
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        url: '../ajax/update',
                        data: {
                            'content':JSON.stringify(data), 
                            'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        success: function(response) {
                            $("#update-form").trigger('reset')
                            alert("Perubagan berhasil disimpan")
                            setTimeout(()=>{window.location.href = '../.'}, 200)
                        },
                        error: function(response) {
                            alert("error")
                        }
                    })
              
            })

        </script>
    </div>
    
{% endblock content %}
